[workspace]
resolver = "3"
members = ["audio-engine","crates/discord-oauth2", "crates/zako3-data", "taphub"]

[profile.dev]
incremental = false
overflow-checks = false
codegen-units = 1
debug = true
opt-level = 0
panic = "unwind"

[profile.test]
incremental = false
overflow-checks = false
codegen-units = 1
debug = true
opt-level = 0
panic = "unwind"
