name: CI

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "docs/**"
      - "README.md"
  pull_request:
    branches: ["main"]
    paths-ignore:
      - "docs/**"
      - "README.md"

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: olix0r/cargo-action-fmt/setup@v2
      - uses: actions/checkout@v4
      - name: Check
        run: cargo check -q --message-format=json | cargo-action-fmt
